<div class="running-text">
  <marquee>training wildan</marquee>
</div>

<div class="mt-3 mr-3" id="table-queue"><center><h1>Preparing system...</h1></center></div>

<div class="footer">
   Training Devops
</div>
