<div class="row">
  <div class="col-md-9">
    <table class="table text-center guest-table">
      <tr>
        <th class="bg-success text-white">OPERATOR 1</th>
        <th class="bg-danger text-white">OPERATOR 2</th>
        <th class="bg-info text-white">OPERATOR 3</th>
      </tr>
      <tr>
        <td>{{#unless op.[0]}}CLOSED{{/unless}} {{op.[0].[0].number}}</td>
        <td>{{#unless op.[1]}}CLOSED{{/unless}} {{op.[1].[0].number}}</td>
        <td>{{#unless op.[2]}}CLOSED{{/unless}} {{op.[2].[0].number}}</td>
      </tr>
      <tr>
        <th class="bg-secondary text-white">OPERATOR 4</th>
        <th class="bg-primary text-white">OPERATOR 5</th>
        <th class="bg-dark text-white">OPERATOR 6</th>
      </tr>
      <tr>
        <td>{{#unless op.[3]}}CLOSED{{/unless}} {{op.[3].[0].number}}</td>
        <td>{{#unless op.[4]}}CLOSED{{/unless}} {{op.[4].[0].number}}</td>
        <td>{{#unless op.[5]}}CLOSED{{/unless}} {{op.[5].[0].number}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-3">
    <div class="alert alert-warning text-center">
      <h4>Nomor Antrian Selanjutnya</h4>
      <hr>
      <h4 class="alert alert-dark">{{op.[6].[0].number}}</h4>
      <h4 class="alert alert-secondary">{{op.[6].[1].number}}</h4>
      <h4 class="alert alert-primary">{{op.[6].[2].number}}</h4>
    </div>
   
<b>rules antrian</b>
<ul style="color:blue;font-size:17px">
<li>1-4 Juli 2019 Pukul 08.00 - 14.00</li><hr>
<li>5 Juli 2019 Pukul 08.00 - 12.00</li>
</ul>

  </div>
</div>
